[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
pywebview = "*"
jinja2 = "*"
pyqt5 = "*"
pycairo = "*"
pygobject = "*"

[dev-packages]

[requires]
python_version = "3.8"
